<h3>{{hull.name}}</h3>
<ul>
    <li>hull_class {{hull.hull_class}}</li>
    <li>faction {{hull.faction}}</li>
    <li>tier {{hull.tier}}</li>
    <li>slots_low {{hull.slots_low}}</li>
    <li>slots_medium {{hull.slots_medium}}</li>
    <li>slots_high {{hull.slots_high}}</li>
    <li>slots_rigs {{hull.slots_rigs}}</li>
    <li>launchers {{hull.launchers}}</li>
    <li>turrets {{hull.turrets}}</li>
    <li>drone_capacity {{hull.drone_capacity}}</li>
    <li>drone_bandwith {{hull.drone_bandwith}}</li>
    <li>calibration {{hull.calibration}}</li>
    <li>power {{hull.power}}</li>
    <li>cpu {{hull.cpu}}</li>
    <li>capacitor {{hull.capacitor}}</li>
</ul>